body{
    font-family: "Arial Black", sans-serif;
    color: #0344FF;
    background-image: url("images/background3.jpg");
    background-color: #335EFF;

}

.bg-image {
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 400px;
}